Sharon Kim, Eshan Yaghmaei

# Classwork 06

In [2]:
from cplane_np import ArrayComplexPlane
from IPython.display import display

## Creating a Complex Plane with Numpy and Pandas

Instead of using lists to create a complex plane, arrays and dataframes were used through numpy and pandas. Similarly with Classwork 05, we imported absplane and subclassed the abstract base class to provide the infrastructure for the subclass.  The complex numbers in the 2D complex plane have the format (x + y*1j). It has the same capabilities as CW-05 where it can be easily transformed through the function f to produce another 2D grid of numbers f(x + y*1j).  It can also regenerate the origina 2D grid of complex numbers and clear all the function transformations that happened to the plane. It can also reset the parameters for the 2D grid of points and regenerate the grid, reapplying all collected functions to each point.

## Demonstration
#### Create a 2D dataframe containing complex numbers having the form (x+y*1j)

In [12]:
acp = ArrayComplexPlane(-2, 2, 5, -2, 2, 5)
display(acp.plane)

,0,1,2,3,4
0,(-2-2j),(-1-2j),-2j,(1-2j),(2-2j)
1,(-2-1j),(-1-1j),-1j,(1-1j),(2-1j)
2,(-2+0j),(-1+0j),0j,(1+0j),(2+0j)
3,(-2+1j),(-1+1j),1j,(1+1j),(2+1j)
4,(-2+2j),(-1+2j),2j,(1+2j),(2+2j)

#### Use apply to apply a transformation onto a complex plane by the function f

In [13]:
def f(p):
        return p*2
    
acp.apply(f)
display(acp.plane)

,0,1,2,3,4
0,(-4-4j),(-2-4j),-4j,(2-4j),(4-4j)
1,(-4-2j),(-2-2j),-2j,(2-2j),(4-2j)
2,(-4+0j),(-2+0j),0j,(2+0j),(4+0j)
3,(-4+2j),(-2+2j),2j,(2+2j),(4+2j)
4,(-4+4j),(-2+4j),4j,(2+4j),(4+4j)

#### Use refresh to regenerate the complex plane and clear all functions that transform the plane

In [14]:
acp.refresh()
display(acp.plane)

,0,1,2,3,4
0,(-2-2j),(-1-2j),-2j,(1-2j),(2-2j)
1,(-2-1j),(-1-1j),-1j,(1-1j),(2-1j)
2,(-2+0j),(-1+0j),0j,(1+0j),(2+0j)
3,(-2+1j),(-1+1j),1j,(1+1j),(2+1j)
4,(-2+2j),(-1+2j),2j,(1+2j),(2+2j)

#### Use zoom to regenerate the plane with new ranges then apply all transformations in fs.

In [15]:
acp.zoom(-4,4,5,-4,4,5)
display(acp.plane)

,0,1,2,3,4
0,(-4-4j),(-2-4j),-4j,(2-4j),(4-4j)
1,(-4-2j),(-2-2j),-2j,(2-2j),(4-2j)
2,(-4+0j),(-2+0j),0j,(2+0j),(4+0j)
3,(-4+2j),(-2+2j),2j,(2+2j),(4+2j)
4,(-4+4j),(-2+4j),4j,(2+4j),(4+4j)